-i https://pypi.org/simple
aiohttp==4.0.0a1
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
idna==2.9
multidict==4.7.5
python-dateutil==2.8.1
six==1.14.0
slack==0.0.2
slackclient==2.5.0
typing-extensions==3.7.4.2
yarl==1.4.2
